includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - packages/application/src
        - packages/utils/src

    level: 5

    ignoreErrors:
        - identifier: method.childReturnType